/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


body {
    margin: 0;
    margin-bottom: 25px;
    float: left;
    background-color: white;
    padding: 50px;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 10px;
    color: #333;
  	}

h1 {
    font-size: 28px;
    color: #000;
  	}

#content {
    float: left;
    background-color: white;
    border: 3px solid #aaa;
	border-left: none;
	border-right: none;
    padding-top: 25px;
	padding-bottom: 25px;
    width: 1200px;
  	}

#header {
    background-repeat: no-repeat;
    background-position: top left;
    height: 64px;
  	}
#header h1, #header h2 {margin: 0}
#header h2 {
    color: #888;
    font-weight: normal;
    font-size: 16px;
  	}

#login {
	float: right;
}

.filename {
    font-style: italic;
  	}

td {
	border-bottom: 0px solid #444;
	padding-left: 2em;
	padding-right: 2em;
	}